<div id="view" class="list-form" [formGroup]="listForm">
  <div>
    <mat-radio-group formControlName="uuid">
      <mat-radio-button *ngFor="let s of servers$ | async" [value]="s.uuid">
        {{ s.name }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="listForm.invalid"
      (click)="onDelete()"
    >
      Delete
    </button>
    &nbsp;
    <button
      mat-raised-button
      color="primary"
      [disabled]="listForm.invalid"
      (click)="onEdit()"
    >
      View
    </button>
  </div>
  <br />
  <div>
    <button
      mat-raised-button
      style="width: 135px"
      color="primary"
      (click)="onAdd()"
    >
      Add
    </button>
  </div>
</div>
