
 <form  [formGroup]="addServerForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter server name" formControlName="name" />
        <mat-error *ngIf="asf.name.errors?.required">* Required</mat-error>
      </mat-form-field>
    </div>
  
    <div>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput placeholder="Enter server state" formControlName="state" />
      </mat-form-field>
      <mat-error *ngIf="asf.state.errors?.required">* Required</mat-error>
    </div>
  
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Memory</mat-label>
        <input matInput placeholder="Enter server memory" formControlName="mem" />
      </mat-form-field>
      <mat-error *ngIf="asf.mem.errors?.required">* Required</mat-error>
    </div>
  
    <div>
      <mat-form-field appearance="fill">
        <mat-label>CPU</mat-label>
        <input matInput placeholder="Enter CPU" formControlName="cpu" />
      </mat-form-field>
      <mat-error *ngIf="asf.cpu.errors?.required">* Required</mat-error>
    </div>
  
    <div>
      <button mat-raised-button type="submit" [disabled]="addServerForm.invalid" color="primary">Add</button>
    </div>
  
  </form>